
<% if current_user %>
  <h5>Hello <%= current_user.name.capitalize %></h5>
<% else %>
  <h5>Hello</h5>
<% end %>

<h3>  Question feed </h3>
<% @questions.each do |question| %>
<ul>
<li><%= link_to question.title, question_path(question.id) %>
<%= link_to 'answer this question', new_question_answer_path(question) %>
</li>
</ul>
<% end %>

<%= link_to 'add a question', new_question_path %>

