<% if current_user %>
  <h1>Hello <%= current_user.name.capitalize %></h1>
<% else %>
  <h1>Hello</h1>
<% end %>

<h1>  Question feed </h1>
<% @questions.each do |question| %>
<ul>
<li><%= link_to question.title, question_path(question.id) %>
<%= link_to 'answer this question', new_question_answer_path(question) %>
</li>
</ul>
<% end %>

<%= link_to 'add a question', new_question_path %>
