@import "materialize/components/color";
$primary-color: #03a9f4 !default;
@import "materialize";

@import url(https://fonts.googleapis.com/css?family=Bitter);

.logo {
  font-family: 'Bitter', 'serif';
  font-size: 30px;


}


