 <nav >
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center logo" >Amazing Grace Forum</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <% if current_user %>
        <li><a href="/logout">logout</a></li>
        <% else %>
        <li><a href="/login">Log In</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <% end %>
      </ul>
    </div>
  </nav>


 <!-- <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo logo">Amazing Grace Forum</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% #if current_user %>
        <li><a href="/logout">Logout</a></li>
        <% #else %>
        <li><a href="/login">Log In</a></li>
        <% #end %>
      </ul>
    </div>
  </nav>
 -->
